.main-menu {
  @include right;
  width: 350px;
  &__list {
    @include list;
    font-size: 0;
  }
  &__item {
    margin-right: 30px;
    display: inline-block;
    font-size: 19px;
    text-transform: uppercase;
    
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid #fff;
    }
    &--active {
     color: $color-main;
      &:hover {
        border-bottom-color: $color-main;
      }
    }
  }
}