$color-bg: #fff;
$color-main: #e74c3c;
$color-main-opacity: rgba($color-main, 0.7);
$color-filter: adjust-hue(desaturate(lighten(#e74c3c, 22%), 37%), -3);
$color-main-dark: desaturate(darken(#e74c3c, 17%), 26%);
$color-input: adjust-hue(saturate(darken($color-bg, 10%), 8%), 180);
$color-input-hover: adjust-hue(saturate(darken(#ffffff, 13%), 12%), 180); 
$color-social: darken($color-bg, 4%); 

$color-text-light: #fff;
$color-text-dark: adjust-hue(saturate(darken($color-text-light, 38%), 9%), 184);
$color-text-input: darken($color-bg, 19%);

$font-size: 15px;
$line-height: 1;